
<div class="col-md-4">
    <div class="card mb-3">

        <img src="
        {% if event.image %}
            {{ asset('img/events/' ~ event.image) }}
        {% else %}
            {{ asset('img/events/event.jpg') }}
        {% endif %}
        " class="card-img-top img-fluid event-img" alt="{{ event.title }}">

        <div class="card-body">
            <span class="badge badge-primary mb-2">{{ event.category.name | upper }}</span>
            <h5 class="card-title"><a href="{{ path('event_show', {'id' : event.id}) }}">{{ event.title }}</a></h5>
            <p>{{ event.namePlace }}</p>
            <p>Du {{ event.startDate | date("d/m/Y") }} au {{ event.endDate | date("d/m/Y") }}</p>

            {% if app.user and app.user == event.user %}
                <a href="{{ path('event_edit', {'id': event.id}) }}" class="btn btn-secondary">Editer l'événement</a>
            {% endif %}

        </div>
    </div>
</div>