{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="card my-5">

                    <img src="
                    {{ include('event/_event_img.html.twig') }}
                    " alt="{{ event.title }}" class="card-img-top img-fluid">

                    <div class="card-body">
                        <h5 class="card-title">{{ event.title | upper }}</h5>
                        <span class="badge badge-primary p-2 mb-2">{{ event.category.name | upper }}</span>

                        <p>Événement publié par
                            <a href="{{ path('user_profile', {'id': event.user.id}) }}">{{ event.user.fullName }}</a>
                            le {{ event.createdAt | date("d/m/Y") }}.
                        </p>

                        <div class="mt-3 d-flex justify-content-lg-between">
                            <a href="{{ path('event_favorite', {'id': event.id}) }}" class="btn btn-success js-like">
                                {% if app.user and event.isFavorite(app.user) %}
                                    <i class="fas fa-heart"></i>
                                {% else %}
                                    <i class="far fa-heart"></i>
                                {% endif %}
                                <span class="js-likes">{{ event.favorites | length }}</span>
                                <span class="js-label">J'aime</span>
                            </a>

                            {% if app.user and app.user == event.user %}
                                <a href="{{ path('event_edit', {'id': event.id}) }}" class="btn btn-secondary">Editer
                                    l'événement</a>
                                <a href="{{ path('event_delete', {'id': event.id}) }}" class="btn btn-danger"
                                   onclick="return confirm (`Êtes vous sûr de vouloir supprimer l'événement {{ event.title }}?`)">Supprimer
                                    l'événement</a>
                            {% endif %}
                        </div>

                    </div>

                </div>

                <div>

                    {# DATE ET HEURE #}
                    <div class="card my-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="col-11">
                                    <h5 class="card-title">DATE ET HEURE</h5>
                                    <p class="card-text">du {{ event.startDate | date("d/m/Y") }}
                                        au {{ event.endDate | date("d/m/Y") }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# ADRESSE #}
                    <div class="card my-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="col-11">
                                    <h5 class="card-title">ADRESSE</h5>
                                    <p class="card-text">{{ event.address }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# TARIF #}
                    <div class="card my-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fas fa-euro-sign"></i>
                                </div>
                                <div class="col-11">
                                    <h5 class="card-title">TARIF</h5>
                                    <p class="card-text">{{ event.price | number_format(2, ',', ' ') }}€</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# INFOS #}
                    <div class="card my-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fas fa-info"></i>
                                </div>
                                <div class="col-11">
                                    <h5 class="card-title">INFOS</h5>
                                    <p class="card-text">{{ event.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# CONTACT #}
                    {# TÉLÉPHONE #}
                    <div class="card my-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="col-11">
                                    <h5 class="card-title">TÉLÉPHONE</h5>
                                    <p class="card-text">{{ event.phone }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# EMAIL #}
                    <div class="card my-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fas fa-envelope-open"></i>
                                </div>
                                <div class="col-11">
                                    <h5 class="card-title">EMAIL</h5>
                                    <p class="card-text">{{ event.email }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# SITE WEB #}
                    <div class="card my-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fas fa-chalkboard"></i>
                                </div>
                                <div class="col-11">
                                    <h5 class="card-title">SITE WEB</h5>
                                    <p class="card-text">{{ event.website }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# COMMENTAIRES #}
                <div>
                    <div class="my-4">
                        <div class="row">
                            <div class="col-1">
                                <i class="fas fa-comments"></i>
                            </div>
                            <div class="col-11">
                                <h5 class="mb-2">COMMENTAIRES</h5>
                                <div>
                                    {% for comment in event.comments %}
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <p class="card-title">{{ comment.user.firstName }} à dit:</p>

                                                    {% if app.user and  comment.user == app.user %}
                                                        <a href="{{ path('comment_delete', {'id': comment.id}) }}" class="btn btn-danger">
                                                            <i class="fas fa-trash"></i>
                                                        </a>
                                                    {% endif %}
                                                </div>

                                                <p>{{ comment.comment }}</p>

                                            </div>
                                        </div>
                                    {% else %}
                                        <p>Pas encore de commentaire pour cette événement.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="my-4">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-success" id="submit">envoyer</button>
                        {{ form_end(form) }}
                    </div>

                </div>

                <div class="col-md-2"></div>

            </div>
        </div>
    </div>


    <script>

        // Ajouter aux favoris
        function onClickBtnLike(event) {
            // annuler evenement par default
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelector('span.js-likes');
            const icone = this.querySelector('i');

            axios.get(url).then(function (response) {
                spanCount.textContent = response.data.likes;

                if (icone.classList.contains('fas')) {
                    icone.classList.replace('fas', 'far');
                } else {
                    icone.classList.replace('far', 'fas');
                }
            }).catch(function (error) {
                if (error.response.status === 403) {
                    window.alert("Vous devez etre connecté");
                } else {
                    window.alert("Une erreure s'est produite");
                }
            });
        }

        document.querySelectorAll('a.js-like').forEach(function (link) {
            link.addEventListener("click", onClickBtnLike);
            //console.log(link);
        })

    </script>

{% endblock %}
