{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-12 my-2">
                        <img src="{{ event.image }}" alt="" class="img-fluid">
                    </div>

                    <div class="col-12 p-2">

                        <span class="badge badge-primary p-1">EXPOSITION</span>

                        <h2 class="mt-3">{{ event.title | upper }}</h2>

                        <p>Événement publié par <a href="{{ path('user_profile', {'id': event.user.id}) }}">{{ event.user.firstName }} {{ event.user.lastName | upper }}</a> le {{ event.createdAt | date("d/m/Y") }}.</p>

                    </div>

                    <div class="col-12 p-2">

                        <div class="row">
                            <div class="col-1">
                                <i class="fas fa-calendar"></i>
                            </div>
                            <div class="col-11">
                                <h5>
                                    DATE ET HEURE
                                </h5>
                                <p>du {{ event.startDate | date("d/m/Y", "Europe/Paris") }}</p>
                                <p>au {{ event.endDate | date("d/m/Y", "Europe/Paris") }}</p>
                            </div>
                        </div>

                        <div class="row p-3">
                            <div class="col-1">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="col-11">
                                <h5>
                                    ADRESSE
                                </h5>
                                <p>{{ event.namePlace }}</p>
                                <p>{{ event.address }}</p>
                            </div>
                        </div>

                        <div class="row p-3">
                            <div class="col-1">
                                <i class="fas fa-euro-sign"></i>
                            </div>
                            <div class="col-11">
                                <h5>
                                    TARIF
                                </h5>
                                <p>{{ event.price }}</p>
                            </div>
                        </div>

                        <div class="row p-3">
                            <div class="col-1">
                                <i class="fas fa-info"></i>
                            </div>
                            <div class="col-11">
                                <h5>
                                    INFOS
                                </h5>
                                <p>{{ event.description }}</p>
                            </div>
                        </div>

                        <div class="row p-3">
                            <div class="col-1">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="col-11">
                                <h5>
                                    TÉLÉPHONE
                                </h5>
                                <p>{{ event.phone }}</p>
                            </div>
                        </div>

                        <div class="row p-3">
                            <div class="col-1">
                                <i class="fas fa-envelope-open"></i>
                            </div>
                            <div class="col-11">
                                <h5>
                                    EMAIL
                                </h5>
                                <p>{{ event.email }}</p>
                            </div>
                        </div>

                        <div class="row p-3">
                            <div class="col-1">
                                <i class="fas fa-chalkboard"></i>
                            </div>
                            <div class="col-11">
                                <h5>
                                    SITE WEB
                                </h5>
                                <p>{{ event.website }}</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mt-4 bg-light">
                    <div class="col">
                        <h5>
                            <i class="fas fa-comments"></i>
                            COMMENTAIRES
                        </h5>
                        <div>
                            <p>Il n'y a pas encore de commentaires pour cette événement.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
