{% extends 'base.html.twig' %}

{% block title %}Edition du profile{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col"></div>

            <div class="col-8">
                <h2 class="my-5">Edition du profile</h2>

                {{ form_start(form) }}
                    <div class="row">

                        <div class="col-4 bg-light p-4 m-2">
                            <div class="d-flex align-items-center justify-content-center">
                                <img src="
                                {% if app.user.avatar  %}
                                    {{ app.user.avatar }}
                                {% else %}
                                    {{ asset('img/avatar.jpg') }}
                                {% endif %}
                                 " alt="Avatar de {{ app.user.fullName }}" class="p-3">
                            </div>
                            <p>changer d'avatar:</p>
                            {{ form_widget(form.avatar) }}
                        </div>

                        <div class="col-8 bg-light p-4 m-2">
                            {{ form_widget(form) }}

                            <button type="submit" class="btn btn-success float-right mt-2">Enregistrer</button>
                        </div>

                    </div>
                {{ form_end(form) }}

            </div>
            <div class="col"></div>
        </div>

        <a href="{{ path('user_password') }}" class="btn btn-primary">Changer mon mot de passe</a>
    </div>

{% endblock %}