{% extends 'base.html.twig' %}

{% block title %}Profile de {{ user.fullName }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="my-5 mx-auto">
                <div class="d-flex justify-content-center">
                    <img src="
                        {% if user.avatar %}
                             {{ user.avatar }}
                        {% else %}
                             {{ asset('img/avatar.jpg') }}
                        {% endif %}
                            " class="avatar m-3" alt="Avatar de {{ user.fullName }}">
                </div>

                <h2 class="">{{ user.fullName }}</h2>
            </div>

        </div>
    </div>

    <div class="container">
        <h2 class="my-4">Ces événements :</h2>
        <div class="row">
            {% for event in user.events %}
                {% include 'event/_event.html.twig' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}